@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Aprende ASP.NET 6.0 <a href="https://platzicursoweb514.azurewebsites.net/">Azure and Github</a>.</p>
</div>
